

.header{
    background-image: url(../../bgimage/bannerbackground.png);
    background-repeat: no-repeat; 
   
    background-size: 110%;
    text-align: center;
    background-position: center;
   padding: 15% 25%;
   height: 500px;
}
.foods{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}
nav{
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 50px;
}
nav a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
    padding: 5px;
    
 
}
nav a:hover{
color: yellowgreen;
border-bottom: 5px solid green;
border-top: 0.01px solid green;
text-decoration: none;
border-radius: 30px;
padding: 8px;
    
}

.body{
    margin: 0;
}
